<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536599424071-0b215a388ba7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=300);">
  <div class="container">
    <h1>Cocktails<strong></h1>
      <p><span id="banner-typed-text"></span></p>
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "button" %>
  </div>
</div>
<div class="container">
  <div class="row no-gutters">
    <% @cocktails.order(average_rating: :desc).each do |cocktail| %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="cocktail-card">
          <div class="card-img" style= "background-image:url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')"></div>
          <div class="cocktail-card-body">
            <div class="card_title_flex">
              <h5><%= cocktail.name.capitalize %></h5>
              <h5>Avg. rating: <%= cocktail.average_rating %></h5>
            </div>
            <%= link_to "See Details", cocktail_path(cocktail)%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
