<h1><%= @cocktail.name.capitalize %></h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %>: <%= dose.ingredient.name %> <%= link_to "delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }%></li>
  <% end %>
</ul>


<%= link_to "back to all cocktails", cocktails_path %>
<%= link_to "add ingredients to this cocktail", new_cocktail_dose_path(@cocktail) %>

